
/**********************************************/
/***                                        ***/
/***           CSS For All pages            ***/
/***                                        ***/
/***                                        ***/
/**********************************************/

*
{
	
}

body
{
	background-image:url('white_wall.png');
	background-repeat:repeat-y repeat-x;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}

div
{
	display: block;
}

div.titlewrapper
{
}

div.title
{
	background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
	height: 70px;
	width: 1000px;
	margin: auto;
	padding: 15px 15px 15px 15px;
}

div.logo
{
	color: white;
	font: 34px Gabriela;
	/*margin: auto;*/
	vertical-align: middle;
}

div.sublogo
{
	color: lightgray;
	font: 14px Gabriela;
}

div.navwrapper
{
	margin: 8px auto;
	height: 30px;
	width: 1000px;
}

div.nav
{
	margin: 0px auto;
}

#nav
{
	clear:left;
	height: 25px;
	/*float:left;*/
	width:1000px;
}

#nav ul
{
	font-weight:bold;
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
}

#nav li
{
	float:left;
}

#nav li.active a
{
	color: #005494;
}

#nav a
{
	padding:4px 15px 6px 15px;
	display:block;
	float:left;
	border-left:1px solid #b9b9b9;
	color:#494949;
	text-decoration:none;
	height:14px;
	line-height:15px;
}

div.contentwrapper
{
	background: #fafafa;
	width: 1000px;
	margin: auto;
	padding: 15px 15px 15px 15px;
}

div.content
{
	
}

div.footerwrapper
{
}

div.footer
{
	padding: 10px;
	width: 1000px;
	margin: auto;
	font: 10px Arial;
	text-align: center;
}


/**************************/
/* Search Box             */
/**************************/

div.searchwrapper
{
	width: 920px;
	margin: auto;
	height: 45px;
}

div.searchbox
{
	float: left;
	text-align: left;
	/*padding-right: 10px;*/
	
}

div.orgselectbox
{
	display: inline;
	text-align: left;
}


/**************************/
/* Search Results         */
/**************************/

div.searchresults
{

}

div.srtop
{
	padding-bottom: 5px;
}

div.srcounts
{
	float: right;
}

div.searchresult
{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	margin-bottom: 5px;
	background-color: #f0f0f0;
}

div.resultheader
{
	padding-bottom: 3px;
}

div.srheader
{
	font-size: 16px;
	padding-left: 2px;
}

div.srurlheader
{
	float: left;
	font-size: 12px;
	padding-left: 2px;
	color: #209020;
}

div.srsubheader
{

	font-size: 12px;
	padding-left: 2px;
	color: #2020202;
}

div.srpreviewtext
{
	font-size: 12px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #202020;
}

/*
div.smallpadding
{
	display: inline;
	padding: 4px 4px 4px 4px;
}

div.righttext
{
	text-align: right;
}
*/

/**************************/
/* Admin Section          */
/**************************/

div.body
{
  padding-top: 5px;
  font-size: 12px;
}

div.org
{
  font-size: 10px;
  padding-left: 5px;
}
