
/* Set repeating background */

body
{
	background-image:url('/media/white_wall.png');
	background-repeat:repeat-y repeat-x;
}/* reset browser defaults */

/* top most div that centers everything */


*
{
	margin:0;
	padding:0;
}

/* set the width of our site, and center it */
div.topwrapper
{
	width:800px;
	margin:0 auto;
	/*background-color: #DDDDFF;*/
}

/* make the login link float right */
#loginlink
{
	float: right;
	padding-left: 15px;
}

/* Wrapper for our links in the upper right */
#navlinks
{
	float: right;
	width: 300px;
}

#organizations
{
	width: 210px;
}

div.navbar
{
	padding-top:15px;
	height:30px;
}

/* boxes for address bar that brings you to other pages */
div.navlink
{
	position: relative;
	top: 0px;
	right: 0px;
	text-align: right;
}

div.title
{
	position:relative;
	margin-left: auto;
    margin-right: auto;
	width:800px;
	border:2px solid #A1A1A1;
	background:#DDDDDD;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
}

img.titleimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* This will wrap the searchtop class with a border, and give it a shadow */
div.searchtop
{
	position:relative;
	top:15px;
	/*left:15px;*/
	border:2px solid #a1a1a1;
	padding:30px 30px; 
	background:#dddddd;
	width:230px;
	height:340px;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
}

div.userinput
{
	padding: 2px 2px;
}

#searchtime
{
	padding: 4px 4px;
}

#submitrequest
{
	padding: 4px 4px;
}

/*  */
/*
div.requestnote
{
	position: relative;
	top: -150px;
	left: 350px;
	width: 300px;
	height: 100px;
}
*/

div.organizationlist
{
	
}

/* This will wrap the results with a box, and give it a shadow */
div.results
{
	position:relative;
	top:-385px;
	/*left:270px;*/
	border:2px solid #a1a1a1;
	padding:10px 30px; 
	background:#dddddd;
	width:400px;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
	float: right;
}

/* result box */
div.searchresult
{
	border:2px solid #FFFFDD;
	padding: 4px 4px;
}