#backtosearch
{
	/* TODO: Fix this formating */
	display: inline-block;
	float: right;
}

div.orglist
{
	position:relative;
	top:15px;
	/*left:15px;*/
	border:2px solid #a1a1a1;
	padding:30px 30px; 
	background:#dddddd;
	width:230px;
	/* height:340px; */
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
	float: left;
}

div.orginfo
{
	position:relative;
	top:15px;
	/*left:270px;*/
	border:2px solid #a1a1a1;
	padding:30px 30px; 
	background:#dddddd;
	/*width:500px;*/
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
	float: right;
	display: inline-block;
}

div.org
{
	padding:10px 10px;
}

a.suborglink
{
	color: #1010E0;
}

/* make our links do something so the user has some feedback on what they are doing */
a.suborglink:hover
{
	text-decoration:none;
	font-weight:bold;
	cursor: pointer;
}