{% extends "master.html" %}

{% block body %}
<div>
  <div>
    <h3>Add New Entity</h3>
    Name:</br>
    <input id="entityname" size="40"></input></br>
    Description:</br>
    <input id="entitydescription" size="80"></input></br>
    Website:</br>
    <input id="entitywebsite" size="40"></input></br>
    <button onclick="addentity()">Add Entity</button></br>
  </div>

  </br>
  <hr>

  <div>
    <h3>Add New Organization</h3>
    Parent Entity:
    <div id="parententityselect"></div>
    Name:</br>
    <input id="orgname" size="40"></input></br>
    Description:</br>
    <input id="orgdescription" size="80"></input></br>

    Match Text:</br>
    <input id="orgmatchtext0" size="40"></input></br>
    Match Text:</br>
    <input id="orgmatchtext1" size="40"></input></br>
    Match Text:</br>
    <input id="orgmatchtext2" size="40"></input></br>
    Match Text:</br>
    <input id="orgmatchtext3" size="40"></input></br>
 
    <button onclick="addorg()">Add Organization</button>
  </div>

  </br>
  <hr>

  <h3>Entities and Organizations</h3>
  <div id="entities">
    Loading ...
  </div>

</div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
 
      function refreshentitylist() {
        var url = "entities.json";
        $.getJSON( url, function( data ) {
          
          console.log('refreshing entity list in combobox ...');

          var html = '<select id="entitylist">';
          for(var i=0;i<data.length;i++) {
            html += '<option value="' + data[i]['_id'] + '">' + data[i]['name'] + '</option>';
          }
          html += '</select>';
          html += '<button id="refreshparententitylist" onclick="refreshentitylist();" style="margin-left: 15px;">Refresh List</button>';
          $( '#parententityselect' ).html(html);

        });
      }
 
      function populateentities() {
        var url = "entities.json";
        $.getJSON( url, function( data ) {

          console.log('updating entity list ...');
          console.log(data);

          var html = '<div>';
          for(var i=0;i<data.length;i++) {
            var id = data[i]['_id']
            html += '<button id="button_' + id + '" onclick="populateorgs(\'' + id + '\')">+</button>'
            html += '' + data[i]['name'] + '</br>';
            html += '<div id="entity_' + id + '"></div></br>';
          }
          html += '</div>';
          console.log('updating page html ...');
          $( '#entities' ).html(html);
          console.log(' ... done.');

        });
      }

      function populateorgs(entityid) {
        if( $( '#button_' + entityid ).text() == '+' ) {
          var url="orgs.json";
          $.getJSON( url, function( data ) {
            var html = '';
            for(var i=0; i<data.length; i++) {
              if ( data[i]['entityid'] == entityid  ) {
                html += '<div style="padding-left: 35px;">';
                html += '<b>' + data[i]['name'] + '</b></br>';
                html += '<div style="padding-left: 35px;">' + data[i]['description'] + '</div>';
                for(var j=0; j<data[i]['matches'].length; j++) {
                  html += '<div style="padding-left: 35px;">Match: "' + data[i]['matches'][j] + '"</div>';
                }
                html += '</div></br>';
              }
            }
     
            if ( html == '' ) {
              html += '<div style="padding-left: 35px;">';
              html += ' -- none -- ';
              html += '</div>';
            }

            $( '#entity_' + entityid ).html(html);
            $( '#button_' + entityid ).text('-');
          });
        }
        else {
          $( '#button_' + entityid ).text('+');
          $( '#entity_' + entityid ).html('');
        } 
      }

      function addentity() {
        var entity = {};
        entity['name'] = $( '#entityname' ).val();
        entity['description'] = $( '#entitydescription' ).val();
        entity['website'] = $( '#entitywebsite' ).val();
        var url = 'addentity.json?entity=' + JSON.stringify( entity );
        $.getJSON( url, function( data ) {
          if( data.success == true ) {
            alert( "'" + entity['name'] + "'" + ' Added Successfully.');

            // pull in the new entity list?
            populateentities();
          }
          else {
            alert("An error has occured while trying to add the Entity to the database, please try again later.");
          }
        });
        
      }

      function addorg() {
        var org = {};
        org['name'] = $( '#orgname' ).val();
        org['description'] = $( '#orgdescription' ).val();
        org['entityid'] = $( '#entitylist option:selected' ).val();
        org['matches'] = [];

        var text = '';
        for(var i=0;i<4;i++) {
          text = $( '#orgmatchtext' + i ).val();
          if ( text != '' ) {
            org['matches'].push(text);
          }
        }

        var url = 'addorg.json?org=' + JSON.stringify( org );
        $.getJSON( url, function( data ) {
          if( data.success == true ) {
            alert( "'" + org['name'] + "'" + ' Added Successfully.');
          }
          else {
            alert("An error has occured while trying to add the Entity to the database, please try again later.");
          }
        });
      }

      $( document ).ready(function() {
        refreshentitylist();
        populateentities();
      });

    </script>

{% endblock %}
