{% extends "master.html" %}

{% block body %}

</br>
Coming soon!</br>
</br>
Checkout the source code for monroe minutes <a href="https://github.com/thequbit/monroeminutes">here</a>.</br>
</br>


<!--

      <div class="contentwrapper">

        There are a number of API calls available within monroeminutes.org - all of which are free to use.</br>

        <hr>
        <h2>Search API</h2>
        http://monroeminutes.org/search.json</br>
        <div style="padding-top: 7px;"><b>Required Fields:</b></div>
        <div style="padding-left: 10px;">phrase - the phrase you are searching for within the index.</div>
        <div style="padding-top: 7px;"><b>Optional Fields:</b></div>
        <div style="padding-left: 10px;">orgid - the ID of the organization you are interested in.  See the getorgs API documentation for more info on OrgID.</div>
        <div style="padding-left: 10px;">bodyid - the ID of the body you are interested in.  See the getorgs API documentation for more info on BodyID.</div>
        <div style="padding-top: 7px;"><b>Notes:</b></div>
        <div style="padding-left: 10px;">orgid <i>or</i> may be spcified, not both</div>
        <div style="padding-top: 7px;"><b>Example:</b></div>
        <div style="padding-left: 10px;">Search the entire database for 'welcome' - <a href="http://monroeminutes.org/search.json?phrase=welcome">http://monroeminutes.org/search.json?phrase=welcome</a></div>
        <div style="padding-left: 10px;">Search only Body ID 2 for 'fracking' - <a href="http://monroeminutes.org/search.json?phrase=fracking&bodyid=2">http://monroeminutes.org/search.json?phrase=fracking&bodyid=2</a></div>
        <div style="padding-top: 7px;"><b>Structure:</b></div>
        <div style="padding-left: 10px;">{</div>
        <div style="padding-left: 20px;">"count": 3,</div>
        <div style="padding-left: 20px;">"phrase": "welcome",</div>
        <div style="padding-left: 20px;">"results": [</div>
        <div style="padding-left: 30px;">{</div>
        <div style="padding-left: 40px;">"scrapedatetime": "2013-12-31 14:04:32",</div>
        <div style="padding-left: 40px;">"docurl": "http://www.scottsvilleny.org/SpringSummer2007.pdf",</div>
        <div style="padding-left: 40px;">"score": 0.052930556,</div>
        <div style="padding-left: 40px;">"docid": "abd45196-a65e-4de9-990d-08725dfdf898",</div>
        <div style="padding-left: 40px;">"linktext": "Spring - Summer 2007 Newsletter",</div>
        <div style="padding-left: 40px;">"targeturl": "http://www.scottsvilleny.org/",</div>
        <div style="padding-left: 40px;">"docname": "SpringSummer2007.pdf",</div>
        <div style="padding-left: 40px;">"previewtext": "... or obtain free mulch please call DPW at 889-1584 Main Street Welcomes New Businesses P A G E 3 During the last several... The fire department is currently looking for new recruits and welcomes the chance to meet with you Located at 385... the Scottville Fire Department 385 Scottsville-Mumford Rd All welcome! Saturday May 5 Chicken BBQ hosted by the American... march Food and activities following at Johnson Park All are welcome! For more info about SAA programs and activities call ..."</div>
        <div style="padding-left: 30px;">},</div>
        <div style="padding-left: 30px;">{</div>
        <div style="padding-left: 40px;">... etc</div>
        <div style="padding-left: 30px;">}</div>
        <div style="padding-left: 20px;">]</div>
        <div style="padding-left: 10px;">}</div>

        <br>
        <hr>

        <h2>Get Organization List</h2>

      </div>

-->

{% endblock %}
