{% extends "master.html" %}

{% block body %}
<div class="searchwrapper">

    <div class="searchbox">
        Enter a Search Term</br>
        <input type="text" id="phrase" name="phrase" size="80" value=""></br>
    </div>

    <div id="selectentitybox" class="selectentitybox" >
    </div>

</div>
        
</br>
        
<div class="searchresults" id="searchresults">
</div>        
    
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
   
      function loadentities() {
          
          var html = 'Entity</br><select id="entity">';

          var url = "entities.json"
          $.getJSON(url,function(response) {
              for(var i=0;i<response.length;i++) {
                  html += '<option value="' + response[i]['_id'] + '">' + response[i].name + '</option>';
              }

               html += "</select>";

               $( '#selectentitybox' ).html(html);

          });

      }

      loadentities();

      /*
       * This taken from here: http://dumpsite.com/forum/index.php?topic=4.msg8#msg8
       * from user: qwerty
       *
       */
      String.prototype.replaceAll = function(str1, str2, ignore) 
      {
	return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
      }

      function comp(a, b) {
          return new Date(b.created).getTime() - new Date(a.created).getTime();
      }
 
      $("#phrase").bind("keypress", {}, keypressInBox);
      
      function keypressInBox(e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode                    
          e.preventDefault();

          var url = "search.json?phrase=" + $("#phrase").val() + "&entityid=" + $("#entity").val();
          $.getJSON(url, function (data) {
            
            // sort results by date
            //data['results'].sort(comp);

            var html = "";

            //console.log(data)

            html += "Result Count: " + data.count;
            for(var i=0; i<data.results.length; i++) {

              console.log(data.results[i])
 
              var parts = data.results[i].docurl.split('/')
              var filename = parts[parts.length-1].replace(/%20/g,' ').replace('(1)','').replace('(2)','').replace('(3)','');
              var linktext =  filename;
              
              var phrase = data.phrase.toLowerCase();
              var previewtext = data.results[i].previewtext.toLowerCase();             
              previewtext = previewtext.replaceAll(phrase,"<b>" + phrase + "</b>");
 
              html += "<div class=\"searchresult\">";
              
              html += "<div class=\"resultheader\"><a href=\"" + data.results[i].docurl + "\">";
              html += linktext + "</a>";
              //html += "<div>[ " + data.results[i].created.split('T')[0] + " ]</div>";
              html += "</div>";
              html += previewtext + "</br>";
              
              html += "</div>";
            }

            $("#searchresults").html(html)
            
          });
        }

      };
    
</script>

{% endblock %}
